body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: rgb(255, 255, 255);
  padding: 35px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form button {
  background: #667eea;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: #5a67d8;
}

.list {
  list-style: none;
  padding: 0;
}
.item {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.item:hover {
  background: #eef2ff;
}

.item button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.item input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}